html,
body {
  width: 100%;
  margin: 0;
  background-color: var(--color-white);
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: 400;
}

body {
  position: relative;
}

a,
a:visited {
  color: var(--color-white);
}

button {
  font-family: 'Lato', sans-serif;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

hr[role='separator'] {
  border: 0 none;
  border-bottom: 2px dotted var(--color-dark-gray);
  margin: 1.5rem 1rem;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.mr-1\.5 {
  margin-right: 6px;
}
.ml-1\.5 {
  margin-left: 6px;
}
.mt-1\.5 {
  margin-top: 6px;
}
.mb-1\.5 {
  margin-bottom: 6px;
}
